<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Panel Admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/templatemo.css">
    <link rel="stylesheet" href="/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="/css/fontawesome.css">
    <style>
        footer{
            position: absolute;
        }
    </style>
</head>

<body class="home-page">
<!-- Start Contact -->
<div class="container py-5" style="width: 70%">
    <div class="row py-3">
        <div class="col-md-3">
            <th:block th:include="include/sidebar"></th:block>
        </div>
        <br>
        <div class="col-md-9" style="padding-left: 50px">
            <div class="col-12" style="padding-bottom: 15px" th:each="user : ${userList}" th:unless="${loggedUser.userId == user.userId}">
                <div class="card" style="flex-direction: row !important;">
                    <div class="card-body col-8">
                        <h4 th:text="${'Id '+user.userId}"></h4>
                        <h4 th:text="${'Imię/Nazwisko: '+user.firstName+' '+user.lastName}"></h4>
                    </div>
                    <div class="card-body col-4">
                        <a class="btn btn-danger" style="background-color: #16B1b5 !important;border: 0;width: -webkit-fill-available;margin-bottom: 5px"th:href="@{|/panel/admin/uzytkownicy/${user.userId}|}">Zobacz posty</a>
                        <a class="btn btn-danger" th:if="${user.enabled == true}" style="width: -webkit-fill-available;" th:href="@{|/panel/admin/zablokuj/${user.userId}|}">Zablokuj Użytkownika</a>
                        <a class="btn btn-danger" th:unless="${user.enabled == true}"style="width: -webkit-fill-available;" th:href="@{|/panel/admin/odblokuj/${user.userId}|}">Odblokuj Użytkownika</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- End Contact -->

<th:block th:include="include/footer"></th:block>

<!-- Start Script -->
<script src="/js/jquery-1.11.0.min.js"></script>
<script src="/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/templatemo.js"></script>
<script src="/js/custom.js"></script>
<!-- End Script -->
</body>

</html>