<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<footer class="bg-dark" id="tempaltemo_footer" style="bottom: 0;width: -webkit-fill-available;">
    <div class="w-100 bg-black py-3">
        <div class="container">
            <div class="row pt-2">
                <div class="col-12">
                    <p class="text-center text-light">
                        Copyright &copy; 2022 Zichterrek
                        | Stworzono przez: BMajewski
                    </p>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- End Footer -->