<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Zaloguj się</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/templatemo.css">
    <link rel="stylesheet" href="/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="/css/fontawesome.css">

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>

   <style>
        footer{
            position: absolute;
        }
        .select2-container{
            width: 100% !important;
        }
        .txta {
            width: 100%;
            min-height: 150px;
            font-family: Arial, sans-serif;
            font-size: 16px;
            overflow: hidden;
            line-height: 1.4;
            resize: none;
        }
    </style>
</head>

<body class="home-page">

<!-- Start Contact -->
<div class="container py-5" style="width: 70%">
    <div class="row py-3" >
        <div class="col-md-3">
            <th:block th:include="include/sidebar"></th:block>
        </div>
        <br>
        <div class="col-md-9" style="padding-left: 50px">
            <div class="col-12">
                <div class="card">
                    <form method="post" th:action="@{/panel/uzytkownik/wiadomosc/utworz-wiadomosc}" enctype="multipart/form-data">
                        <div class="card-body">
                            <div>
                                <textarea class="txta custom-textarea" name="messageContent" placeholder="Treść wiadomości" ></textarea>
                            </div>
                            <div class="input-group mb-3 col-md-6 col-sm-12">
                                <label style="margin-top: 8px; margin-right: 60px;">Dodaj tag</label>
                                <select multiple="multiple" data-close-on-select="false"
                                        name="tagNames"
                                        class="form-control js-example-basic-multiple" required>
                                    <option th:each="tag : ${tagList}" th:text="${tag.name}" th:value="${tag.name}"></option>
                                </select>
                            </div>
                            <div class="input-group image-preview form-group">
                                <span class="input-group-btn nopadding">
                                    <div class="btn btn-default image-preview-input">
                                        <input type="file" accept="image/*" name="attachment">
                                    </div>
                                </span>
                            </div>
                            <div class="col text-end mt-2">
                                <button style="background-color: #16B1b5 !important;border: 0;" type="submit" class="btn btn-success" id="registerButton">Dodaj wiadomość</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Contact -->

<th:block th:include="include/footer"></th:block>

<!-- Start Script -->
<script src="/js/jquery-1.11.0.min.js"></script>
<script src="/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/templatemo.js"></script>
<script src="/js/custom.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<!-- End Script -->
</body>
<!--MULTISELECT STUFF-->
<script>
    $(document).ready(function () {
        $('.js-example-basic-multiple').select2({
            tags: true,
        });
    });
</script>
<script>
    let textareas = document.querySelectorAll('.txta'),
        hiddenDiv = document.createElement('div'),
        content = null;

    for (let j of textareas) {
        j.classList.add('txtstuff');
    }

    hiddenDiv.classList.add('txta');

    hiddenDiv.style.display = 'none';
    hiddenDiv.style.whiteSpace = 'pre-wrap';
    hiddenDiv.style.wordWrap = 'break-word';

    for(let i of textareas) {
        (function(i) {

            i.addEventListener('input', function() {
                i.parentNode.appendChild(hiddenDiv);
                i.style.resize = 'none';
                i.style.overflow = 'hidden';
                content = i.value;
                content = content.replace(/\n/g, '<br>');
                hiddenDiv.innerHTML = content + '<br style="line-height: 3px;">';
                hiddenDiv.style.visibility = 'hidden';
                hiddenDiv.style.display = 'block';
                i.style.height = hiddenDiv.offsetHeight + 'px';
                hiddenDiv.style.visibility = 'visible';
                hiddenDiv.style.display = 'none';
            });
        })(i);
    }
</script>

</html>