<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Zaloguj się</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/templatemo.css">
    <link rel="stylesheet" href="/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="/css/fontawesome.css">

    <!-- Load map styles -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <!--

    TemplateMo 559 Zay Shoap

    https://templatemo.com/tm-559-zay-shop

    -->
</head>

<body class="home-page">
<!-- Start Contact -->
<div class="container py-5" style="width: 70%">
    <div class="row py-3">
        <div class="col-md-3">
            <th:block th:include="include/sidebar"></th:block>
        </div>
        <br>
        <div class="col-md-9" style="padding-left: 50px">
            <div class="col-12" style="padding-bottom: 15px" th:each="message : ${messageList}">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <div style="width: 75px; height: 75px; display: inline-block">
                                <img src="/img/marchewiki.png" class="img-responsive"
                                     style="height: 100%; width: 100%; border-radius: 5rem">
                            </div>
                            <span class="post-nick-name" th:text="${message.user.firstName + ' ' + message.user.lastName}">User 1</span>
                            <a th:href="@{|/panel/uzytkownik/wiadomosc/${message.messageId}|}" class="btn-danger btn" style="background-color: #16B1b5 !important;border: 0;position: absolute;top: 15%;right: 5%;">Edytuj</a>
                        </div>
                        <div class="tag-form">
                            <small class="custom-tag" th:each="tag :${message.tags}" th:text="${'#'+tag.name}">Hello</small>
                        </div>
                        <p th:text="${message.messageContent}">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the
                            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                            of type</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- End Contact -->

<th:block th:include="include/footer"></th:block>

<!-- Start Script -->
<script src="/js/jquery-1.11.0.min.js"></script>
<script src="/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/templatemo.js"></script>
<script src="/js/custom.js"></script>
<!-- End Script -->
</body>

</html>