<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Zarejestruj się</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/templatemo.css">
    <link rel="stylesheet" href="/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="/css/fontawesome.css">

    <!-- Load map styles -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />

    <style>
        footer{
            position: absolute;
        }
    </style>
</head>
<body>
<th:block th:include="include/header"></th:block>

<!-- Start Content Page -->
<div class="container-fluid bg-light py-5">
    <div class="col-md-6 m-auto text-center">
        <h1 class="h1">Zaloguj się</h1>
    </div>
</div>


<!-- Start Contact -->
<div class="container py-5">
    <div class="row py-3" th:align="center">
        <form id="registerForm" method="post" th:object="${registerForm}" th:action="@{/rejestracja}">
            <div class="col-md-7 margin-auto">
                <input type="text" class="form-control mt-1" name="firstName" placeholder="Imię"
                       th:field="*{firstName}">
            </div>
            <br>
            <div class="col-md-7 margin-auto">
                <input type="text" class="form-control mt-1" name="lastName" placeholder="Nazwisko"
                       th:field="*{lastName}">
            </div>
            <br>
            <div class="col-md-7 margin-auto">
                <input type="email" class="form-control mt-1" name="email" placeholder="Adres e-mail"
                       th:field="*{email}" >
                <span style="display: none" id="emailUnavailableText" class="text-danger">Wprowadzony adres email jest już zajęty</span>
            </div>
            <br>
            <div class="col-md-7 margin-auto">
                <input type="text" class="form-control mt-1" name="password" placeholder="Hasło"
                       th:field="*{password}">
            </div>
            <br>
            <br>
            <div class="col-md-7 margin-auto">
                <div class="col text-center mt-2">
                    <button type="submit" class="btn btn-success btn-lg px-3" id="registerButton">Zarejestruj się</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- End Contact -->

<th:block th:include="include/footer"></th:block>

<!-- Start Script -->
<script src="/js/jquery-1.11.0.min.js"></script>
<script src="/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/templatemo.js"></script>
<script src="/js/custom.js"></script>

</body>
</html>